@import (css) url("https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap");

@import "~normalize.css/normalize.css";
@import "~bassless/src/basscss";
@import "~bassless/addons/index";

@import "vars";
@import "modularscale";

[v-cloak] {
  display: none;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: @color-dark;
  color: @color-light;
  overflow-x: hidden;
  line-height: 1.2;
}

img,
svg {
  .fit;
  height: auto;
}

iframe {
  .fit;
}

a {
  color: inherit;
  text-decoration: none;

  &:not(.clear):not(.btn):not(.fancy) {
    border-bottom: 1px dashed fadeout(@color-light, 25%);
    transition: border-bottom-color 0.15s ease-in-out 0s;

    &:hover {
      border-bottom-color: @color-primary;
    }
  }

  &.fancy {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -8px;
      left: 0;
      visibility: hidden;
      background-color: @color-primary;
      border-radius: 2px;
      transform: scaleX(0);
      transition: all 0.15s ease-in-out 0s;
    }

    &:hover {
      color: @color-primary-light;

      &:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}

.btn,
button,
input[type=submit] {
  .ms-1;
  .rounded;
  border: 0;
  color: @color-light;
  background-color: @color-primary;
  padding: @space-2 @space-3;
  will-change: background-color;
  transition: background-color 0.15s ease-in-out 0s;

  &.btn--big {
    .ms3;
  }

  &:hover {
    cursor: pointer;
    background-color: @color-primary-dark;
  }
}

.chip {
  .ms-1;
  text-transform: uppercase;
  background: @color-primary;
  color: @color-light;
  padding: @space-1 @space-2;
  border-radius: 10px;
  font-weight: bold;
}

.container {
  position: relative;
  width: @breakpoint-xl;
  max-width: 90%;
  .mx-auto;
}

.container--narrow {
  position: relative;
  width: @breakpoint-md;
  max-width: 90%;
  .mx-auto;
}

.w-100 {
  width: 100%;
}

#app > .element:not(.container--narrow) {
  .container;
  padding-top: @space-1 !important;
}

#app > footer {
  background-color: fadeout(@color-primary-dark, 50%);
}

#app > header {
  @media only screen and (max-width: @breakpoint-xs - 1) {
    justify-content: center;
  }
}
