// Modular Scale Intervals
@minorSecond: 1.067;
@majorSecond: 1.125;
@minorThird: 1.2;
@majorThird: 1.25;
@perfectFourth: 1.333;
@augFourth: 1.414;
@perfectFifth: 1.5;
@minorSixth: 1.6;
@goldenSection: 1.618;
@majorSixth: 1.667;
@minorSeventh: 1.778;
@majorSeventh: 1.875;
@octave: 2;
@majorTenth: 2.5;
@majorEleventh: 2.667;
@majorTwelfth: 3;
@doubleOctave: 4;

// Modular Scale Base
@msBase: 16px;
@msRatio: @majorThird;

// Bassless variables
@space-1: 5px;
@space-2: 10px;
@space-3: 20px;
@space-4: 30px;
@space-5: 50px;
@space-6: 80px;
@space-7: 120px;
@space-8: 160px;

@breakpoint-xxs: 440px;
@breakpoint-xs: 600px;
@breakpoint-sm: 768px;
@breakpoint-md: 960px;
@breakpoint-lg: 1024px;
@breakpoint-xl: 1280px;

@bold-font-weight: 700;

// Colors
@color-mono-100: #fff;
@color-mono-97: #f7f7f7;
@color-mono-96: #f5f5f5;
@color-mono-94: #f0f0f0;
@color-mono-90: #e6e6e6;
@color-mono-20: #333333;
@color-mono-10: #1a1a1a;
@color-mono-0: #000;

@color-primary: #25B349;
@color-primary-light: lighten(@color-primary, 40%);
@color-primary-dark: darken(@color-primary, 10%);

@color-light: @color-mono-97;
@color-dark: lighten(@color-mono-0, 5%);

@color-error: #f0506e;
@color-success: #6FC304;
@color-warn: #FFB900;

@color-talk: @color-primary;
@color-workshop: #B3901D;
@color-case-study: #B3141D;
@color-lightning-talk: #3746B3;
@color-session: #AE2EB3;
