<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <a class="modal-close-action clear" href="#" @click.prevent="close()">
                        <fa-icon icon="times"></fa-icon>
                    </a>
                    <slot></slot>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
  import 'utils/icons';

  export default {
    data() {
      return {
        containerClass: 'modal-wrapper'
      }
    },
    mounted() {
      window.addEventListener('keyup', this.handleKeyup, false);
      window.addEventListener('click', this.handleClick, false);

      this.storeOffset();
      document.getElementsByTagName('body')[0].classList.add('overflow-hidden');
    },
    beforeDestroy() {
      window.removeEventListener('keyup', this.handleKeyup, false);
      window.removeEventListener('click', this.handleClick, false);

      document.getElementsByTagName('body')[0].classList.remove('overflow-hidden');
    },
    methods: {
      close() {
        this.$emit('close');
      },
      handleKeyup(e) {
        if (e.target.nodeName === 'INPUT') return;
        if (e.keyCode === 27) { this.close(); }
      },
      handleClick(e) {
        if (e.target
          && e.target.classList
          && typeof e.target.classList.contains === 'function'
          && e.target.classList.contains(this.containerClass)) {
          this.close();
        }
      },
      storeOffset() {
        document.body.style.top = `-${window.pageYOffset}px`;
      },
      restoreOffset() {
        const offset = document.body.style.top;
        document.body.style.top = '';
        window.scrollTo(0, parseInt(offset || '0') * -1);
      }
    }
  }
</script>

<style lang="less">
    @import (reference) '~styles/includes/base';

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: table;
        transition: opacity 0.3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: @color-light;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        transition: all 0.3s ease;
        position: relative;
    }

    .modal-close-action {
        position: absolute;
        right: 24px;
        font-size: 24px;
        color: @color-dark;
    }

    .modal-header h3 {
        margin-top: 0;
        color: @color-primary;
    }

    .modal-body {
        margin: @space-2 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    a.icon-only:hover {
        color: @color-primary;
    }
</style>
