@import "~styles/includes/base";
@import "~styles/includes/card";

#particle-bg {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.level51__block__heroheader {
  height: 50vh;
  display: flex;
  align-items: center;

  @media only screen and (max-width: @breakpoint-sm - 1) {
    margin-top: 80px;
  }

  > .container > div {
    @media only screen and (max-width: @breakpoint-lg) {
      flex-direction: column-reverse;
    }
  }
}

.dnadesign__elementallist__model__elementlist {
  .list-element__container {
    .mxn4;
    .flex;
    .flex-wrap;

    .element:not(:first-of-type) .content-element__content {
      .card;
      padding: @space-2 @space-4;
    }
  }
}

.chip {
  &[data-type=Talk] {
    background-color: @color-talk;
  }

  &[data-type=Workshop] {
    background-color: @color-workshop;
  }

  &[data-type="Case Study"] {
    background-color: @color-case-study;
  }

  &[data-type="Lightning Talk"] {
    background-color: @color-lightning-talk;
  }

  &[data-type=Session] {
    background-color: @color-session;
  }
}

.section-headline {
  .ms(5);
  color: @color-primary;
  margin-bottom: @space-2;

  & + p {
    line-height: 1.5;
    margin-top: 0;
  }

  &.center + p {
    text-align: center;
  }
}

#app .element.netwerkstatt__block__sponsors {
  h3 {
    .ms(1);
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 60%;
    margin: 4rem auto 3rem auto;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    &:before, &:after {
      content: '';
      border-top: 3px solid #9eafb5;
    }
  }

  .sponsoritems-wrapper {
    display: flex;
    flex-wrap: wrap;
    .mxn2;
    justify-content: center;

    .sponsoritem {
      padding: @space-2;
      width: 100%;

      .sponsoritem-inner {
        .card;
        padding: @space-4;

        p:last-child {
          margin-bottom: 0;
        }
      }

      .sponsoritem__title {
        .ms(2);
        margin-top: 0;
        color: @color-primary;
      }

      .sponsoritem__logo {
        max-width: 50%;
        margin: @space-3 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
        }

        img {
          display: block;
          max-height: 150px;
          max-width: 100%;
        }
      }

      @media screen and (min-width: @breakpoint-sm) {
        width: 50%;

        .sponsoritem__logo {
          height: 150px;
        }
      }
    }
  }
}

#app .element.netwerkstatt__block__schedule {
  .schedule-day-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
      outline: 0 !important;
      .ms(1);
      background: transparent;
      border: 2px solid @color-primary;

      &.active {
        background: @color-primary;
      }

      &:not(.active):hover {
        background: fade(@color-primary, 50);
      }
    }
  }

  .slot {
    margin: @space-4 0;
    display: flex;
    background: fade(@color-primary-light, 20);
    .rounded;
    padding: @space-4;
    position: relative;

    .slot-headline {
      margin: @space-2 0;

      .slot-time {
        align-self: flex-start;
        .ms(3);
        margin-right: @space-2;
        color: @color-primary;
      }

      .slot-title {
        align-self: center;
        .ms(3);
      }

      @media screen and (min-width: @breakpoint-xs) {
        display: flex;
      }
    }

    .talk-types {
      display: flex;
      .ms(-2);
      .mxn1;
      position: absolute;
      top: @space-1;
      right: @space-2;

      .chip {
        .m1;
        font-weight: normal;
        text-transform: none;
      }
    }

    .slot__desc {
      .flex-auto;

      .speakers {
        display: flex;
        flex-wrap: wrap;
        margin: @space-2 -@space-2;

        .speaker {
          display: flex;
          align-items: center;
          margin: @space-2;

          .speaker-info {
            .ms(-1);
          }

          img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            margin-right: @space-2;
            background: @color-mono-100;
            border: 3px solid @color-mono-100;
          }

          &:not(:last-child) {
            margin-bottom: @space-2;
          }

          .speaker-company {
            margin-top: @space-1;
            .ms(-1);
          }
        }
      }
    }

    &.slot--multi {
      .talks-list {
        margin-top: @space-3;

        .talk {
          .ms(-1);

          &:not(:last-child) {
            margin-bottom: @space-4;
          }

          .talk__title {
            .ms(1);
          }
        }
      }
    }
  }
}
