@import "~styles/includes/base";

#app {
  height: 100%;
  display: flex;
  flex-direction: column;

  > main {
    flex: 1;
  }
}

#MemberLoginForm_LoginForm {
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;

    .field {
      margin-bottom: @space-2;

      label {
        float: none;
      }
    }
  }
}
