.element-spotlight-list {}
.element-spotlight-list.dark {}
.element-spotlight-list__container {}
.element-spotlight-list__header {
	@apply text-center;

}
.element-spotlight-list__title {}
.element-spotlight-list__intro {


}


div.element-spotlight-list:first-of-type .element-spotlight-list__header {
	padding-top: 0vh;
	@screen lg {
	  padding-top: 2vh;
	}
}


.element-spotlight-list__list.flex {
	justify-content: center;
}
.element-spotlight-list__list .element-spotlight {
	width: auto;
}