/* purgecss start ignore */
.element {
	h1,h2 {
		@apply text-center;
		color: var(--main-color);
	}

	&.grey {
		@apply bg-gray-200;
	}

	&.dark,
	&.dark--image {
		//@extend .bg-secondary;


		
		background-color: var(--color-petrol);
	}

	&.darker,
	&.darker--image{
		//@extend .bg-secondary-dark;
		background-color: var(--color-secondary--dark);
	}

	&.dark,
	&.dark--image,
	&.darker,
	&.darker--image {
		@apply text-white;
		//@apply text-gray-500;


	}

	&.coral {
		background-color: var(--main-color);
		@apply text-white;
	}

	&.dark--image,
	&.darker--image {
		background-image: url(../../../icons/stripecon-wave.png);
		background-position: bottom;
		//background-size: contain;
		background-repeat: no-repeat;
		//padding-bottom: 20%;
		padding-bottom: 16vh;
		background-size:150%;
		@screen lg {
	  		background-size:contain;
		}
	}


}

.edgarindustries__elementalmap__block__content {
	.leaflet-container {
		height: 300px !important;
		/* i know, important is evil*/
		@screen lg {
	  		height: 600px !important;
		}

	}
}


.element .element__content {
	text-align:center;
}

.center-items {
	justify-content: center;
}

/* main .compact:last-child { */

main {
	padding-top: 124px;
}

main .dynamic__elements__promos__elements__elementpromos + .dynamic__elements__promos__elements__elementpromos.compact {
	padding-bottom: 10rem;
}
/* purgecss end ignore */