 /* purgecss start ignore */


/* Schedule stuff*/

.day {


}


.day {
	margin-top: 4rem;
	h3 {
		text-transform: uppercase;
		@apply text-2xl;
		letter-spacing: 0.05rem;
	}

	@screen md {
		text-align: left;
	}
}


.slot {
	margin-bottom: 2rem;
	margin-top: 2rem;
	text-align: left;
}
.talk__speaker--img {
	//border: 1px solid red;
	//width: 20% ;



	img {
		width:80%;
		height: auto;
		margin-top: 10px;
	}


}



.slot__desc {
	
	//width: 80% ;
	padding-right: 2rem;
	
	h5 {
		color: var(--main-color);
		font-weight: normal;
		margin-top: 0;

		@apply text-xl;
		@screen md {
			@apply text-2xl;
		}
	}

	h4 {
		margin-top: 2px;
		@apply text-lg;

		@screen md {
			@apply text-xl;
		}
	}
	p {
		margin-top: 2px;
		margin-bottom: 0px;
		@apply text-sm;
	}



	.speaker,
	.talk-links {
		color: var(--color-petrol);
		@apply text-base;
		
		margin-bottom: 0;
		a {
			@apply text-sm;
			color: var(--color-petrol);
		}
	}
	.speaker {
		margin-top: 6px;
	}

}


/* Lightning Talks */

.speaker-list {
	
	.speaker-list-item {
	//border: 1px solid green;
	margin-top: 0.5rem;

		h5 {
			@apply text-sm;
			font-weight: bold;
			color:var(--color-black);
			margin-bottom: 0;
			line-height: 1;
		}

		span {
			@apply text-sm;
		}	
	}
}

/*
.speakeritem {
	@apply w-1/2;
	@screen lg {
		@apply w-1/3;
	}
	img {
		width:50%;
		height: auto;
	}
	h4 {
		margin-top: 1.5rem;
	}
	p {
		margin-top: 0.5rem;
	}
	.speakeritem__description {
		color:var(--color-grey-dark);
	}
	.speakeritem__link a{
		text-decoration: none;
	}
	
}*/
/* purgecss end ignore */