 /* purgecss start ignore */

.speakeritem {
	@apply w-1/2;
	@screen lg {
		@apply w-1/3;
	}
	img {
		width:50%;
		height: auto;
	}
	h4 {
		margin-top: 1.5rem;
	}
	p {
		margin-top: 0.5rem;
	}
	.speakeritem__description {
		color:var(--color-grey-dark);
	}
	.speakeritem__link a{
		text-decoration: none;
	}
	
}
/* purgecss end ignore */