 /* purgecss start ignore */



.content-element__sponsors h3 {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 60%;
    margin: 4rem auto 3rem auto;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.content-element__sponsors h3:before,
.content-element__sponsors h3:after {
    content: '';
    border-top: 3px solid #9eafb5;;
}


.sponsoritem {

	&__title {
		margin-top: 3rem;
		a {
			color: #000000;
		}
	}
	&__description {
		color: var(--color-grey-dark);
	}

	.sponsoritem__logo {
		text-align: center;
		min-height: 100px;
		display: flex;
		a {
			display: block;
			margin: 0 auto;
			align-self: center;
		}
		img {
			margin: 1rem auto 0.5rem auto;
			align-self: center;
			max-width: 60%;
			max-height: 80px; 
		}
	}
	@screen lg {
		.sponsoritem__logo {
			text-align: center;
			
			min-height: 200px;
			display: flex;
			img {
				margin: 1rem auto 0.5rem auto;
				align-self: center;
				max-width: 260px;
				max-height: 120px; 
			}
		}
	}
	&__link {


	}

	&--principal-sponsors,
	&--principal,
	&--platinum {
		@apply w-1/2;
	}

	&--gold,
	&--silver{
		@apply w-1/2;
	}

	&--bronze {
		@apply w-1/2;


		@screen lg {
			.sponsoritem__logo {
				min-height: 180px;
				img {
					max-width: 90%;
					max-height: 110px; 
				}
			}
		}



	}

	@screen lg {
		&--principal-sponsors,
		&--principal,
		&--platinum {
			@apply w-1/2;
		}

		&--gold,
		&--silver,
		&--bronze{
			@apply w-1/3;
		}
/* 
		&--bronze {
			@apply w-1/4;


		} */
	}
}


		 
/* purgecss end ignore */