:root {
	--main-color: #ff686f;
	--main-color--dark: color(#ff686f shade(20%));

	--color-secondary: #e3e9ee;
	--color-secondary--dark: #101c26; //color(#1b2e51 shade(20%));

	--color-petrol: #0d3645;
	--color-grey-lightest: #f3f3ee;
	--color-grey-light: #dddfde;
	--color-grey: #9eafb5; //svg color
	--color-grey-dark: #666666;

	--color-green: #71af04;
	--color-green-dark: #005800;

	--color-link: var(--main-color);

	svg {
		.primary {
			fill: var(--color-petrol);
		}
		.secondary {
			fill: var(--main-color);
		}
	}

	.bg-main {
		background-color: var(--main-color);
	}
	.bg-main-dark {
		background-color: var(--main-color--dark);
	}
	.bg-secondary-dark {
		background-color: var(--color-secondary--dark);
	}
	.bg-secondary {
		background-color: var(--color-petrol);
	}
}

