@import '../mixins/inline-svg';

$link-color: #990000 !default;
$line-height: 1.5 !default;
$white: #fff !default;
$red: #990000 !default;
$lightgrey:  #dddfde !default;
$blue: #1b2e51 !default;
$color-nav-main: #666666 !default;

//body.mobile-nav-active {
//	@include breakpoint($media-m-down) {
//		font-size: 1rem;
//	}
//	@include breakpoint($media-s-down) {
//		font-size: .75rem;
//	}
//}
#container {
    width:100%;
    transition: transform 0.5s;
    //display:flex;
    //flex-direction: column;
    min-height:100vh;
    .mobile-nav-active & {
        position:fixed;
        transform: scale(0.9);
        top:0;
    }
}

#overlaynav {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	//transition: all .5s ease;
	z-index: 2;
	opacity: .4;
	visibility: hidden;
	transition: transform 0.5s ease;
	transform: translateY(100%);
	
	background-color: var(--color-petrol);
	text-align: center;
    margin-top: 0;
	button.close {
		cursor:pointer;
		background-color: transparent;
		width:2em;
		height:2em;
		display:inline-block;
		margin:3em auto 1em;
		border:0;
		background-size: cover;
		background-repeat: no-repeat;
		transition: transform .1s ease;

        $button: "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 70' preserveAspectRatio='xMinYMin meet'>
        <g stroke='#ffffff'>
            <path stroke-linejoin='miter' stroke-width='4' d='M65,5 L5,65'></path>
            <path stroke-linejoin='miter' stroke-width='4' d='M5,5 L65,65'></path>
        </g>
        </svg>";
        background-image: inline-svg($button);

        color: blue;

		&:hover {
			transform: scale(1.1);
		}

	}
	.mobile-nav-active & {
		position: absolute;
		opacity: 1;
		visibility: visible;
		z-index:400;
		transform: translateY(0%);
		min-height: 100%;

		.inner {
			display:flex;
			//text-align: left;
		}
		nav {
			margin:0;
			display:flex;
			flex-direction: column;
			width:100%;
			ul {
				display:flex;
				flex-wrap:wrap;
                margin: 0;
				padding:0;
				list-style:none;
				align-content: center;
				width:100%;
				&.lang-nav {
					flex-direction: row;
					width:100%;
					align-items:stretch;
					margin-bottom:0;
					li {
						flex: 1 1 auto;
						text-align: center;
						&:not(:last-of-type) {
							margin-right:.3em;
						}
						a {
							padding-right:0;
							padding-left:0;
						}
					}
				}
				&.expanded {
					display: flex !important;
				}
				li {
					flex: 0 1 100%;
					display:flex;
					flex-wrap: wrap;
					max-width:100%;
					//background-color: darken($lightgrey, 0%);
					a, span#contact {
						flex: 1 1 auto;
						padding: .7em 0.2em .7em 0.2em;
						// border-left: .55em solid lighten($blue, 20%);
						// border-left: .55em solid $blue;
						//border-left: .55em solid transparent;
						text-decoration: none;
						display:inline-block;
						font-size:1.2em;
						outline:none;
						white-space: nowrap;

						
						color: #ffffff;
						
						line-height: 1;
					}
					&:last-of-type >a {
						padding-bottom:.9em;
					}
					&.section a {
						border-color:$blue;
					}
					&.current >a,
					span#contact {
						
						color: var(--main-color);
                        //background-color: $color-nav-main;
						//border-color:$red;
					}

/*					span#contact {
						padding: .7em 0.2em .7em 0.2em;
						cursor: pointer;

						border: 1px solid white;
						&:focus,
						&:hover {
							color: var(--main-color--dark);
						}

						

					}*/
					//@include breakpoint($media-m-down) {
						flex:1 0 100%;
					//}
					.trigger {
						display:none;
					}
					&:not(.section):not(.current) .trigger {
						display:flex;
						flex: 0 0 3em;
						cursor: pointer;
						background-repeat: no-repeat;
						background-position: top .9em right .5em;
						background-size:1.6em .8em;
					}
					&.link {
						>.trigger {
                            margin-top: 0;
							background-image: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172 96" enable-background="new 0 0 100 200" xml:space="preserve" preserveAspectRatio="xMinYMin meet"><path d="M133.857864,-27.857864 L133.857864,123.857864 C133.857864,129.380712 129.380712,133.857864 123.857864,133.857864 C121.205699,133.857864 118.66216,132.804296 116.786797,130.928932 L40.9289322,55.0710684 C37.0236893,51.1658254 37.0236893,44.8341755 40.9289322,40.9289326 L116.786797,-34.9289318 C120.692039,-38.8341747 127.023689,-38.8341747 130.928932,-34.9289318 C132.804296,-33.053568 133.857864,-30.5100289 133.857864,-27.857864 Z" fill="#{$link-color}" transform="translate(85.928932, 48.000000) rotate(-90.000000) translate(-85.928932, -48.000000) "></path></svg>');
						}
					}
					&.expanded {
						>.trigger {
							background-image: inline-svg('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 172 96" enable-background="new 0 0 100 200" xml:space="preserve" preserveAspectRatio="xMinYMin meet"><path d="M133.857864,-27.857864 L133.857864,123.857864 C133.857864,129.380712 129.380712,133.857864 123.857864,133.857864 C121.205699,133.857864 118.66216,132.804296 116.786797,130.928932 L40.9289322,55.0710684 C37.0236893,51.1658254 37.0236893,44.8341755 40.9289322,40.9289326 L116.786797,-34.9289318 C120.692039,-38.8341747 127.023689,-38.8341747 130.928932,-34.9289318 C132.804296,-33.053568 133.857864,-30.5100289 133.857864,-27.857864 Z" fill="#{$link-color}" transform="translate(85.928932, 48.000000) rotate(90.000000) translate(-85.928932, -48.000000) "></path></svg>');
						}
					}
				}
				&.mobile-menu1 {
					>li {
						margin:0.2em 0;
						&.link >ul {
							display: none;
						}
						>a, span#contact {
							font-weight: 700;
						}
						&.current >a,
						span#contact {
							padding-left: 1.1em;
						}
					}
				}
				&.mobile-menu2 {
					li {
						border-bottom:0;
						border-right:0;
						border-left:0;
						&.current >a {
							padding-left: .55em;
							border-left-width: 1.1em;
						}
					}
				}
			}
		}
	}


}


