.aspect-ratio {
	@apply w-full overflow-hidden relative;
	height: 0;

	img {
		@apply w-full h-auto absolute top-0;
	}
}

.aspect-ratio--bottom-square {
	padding-bottom: 100%;
}

.aspect-ratio--bottom-16-9 {
	padding-bottom: 56.25%;
}

.aspect-ratio--bottom-4-3 {
	padding-bottom: 75%;
}

.aspect-ratio--bottom-21-9 {
	padding-bottom: 42.86%;
}