.btn {
	@apply p-3;
	@apply m-2;
	@apply h-auto;

	@apply font-sans;

	@apply cursor-pointer;

	line-height: 1.125;
	&:hover {
		background-color: var(--main-color--dark);
	}
	&--primary {
		background-color: var(--main-color);
		@apply text-white;
		&:hover {
			background-color: var(--main-color--dark);
		}
	}

	&--red {
		@apply bg-red-500;
		@apply text-white;
		&:hover {
			@apply bg-red-600;
		}
	}

	&--transparent {
		background: transparent;
		@apply border-white;
		@apply border border-solid;
		@apply text-white;
		text-shadow: none;
	}

	&--full {
		@apply w-full;
	}

	&--big {
		@apply p-3;
		//@apply h-10;

		@apply leading-none;
	}

	&--small {
		@apply text-sm leading-normal;
		@apply h-6;
		@apply py-1;
		padding-top: 0.125rem;
	}


}

