/* purgecss start ignore */
h1, h2, h3, h4 {
	@apply font-sans;
	@apply font-normal;
	@apply font-bold;
}

h1, h2 {
	@apply my-4;
	@apply mt-8;

	.page-content__main > &:first-child {
		@apply mt-0;
	}
}

h1 {
	@apply text-4xl;
	@apply font-normal;

	@screen lg {
	  font-size:4.5rem;
	}
	@screen xl {
	  font-size:5.2rem;
	}

	.small {
		@apply text-3xl;
	}
}

h1.element-spotlight-list__title  {
	@apply mb-0;
	line-height: 1;
}
h2 {
	@apply text-3xl;
	//@apply font-normal;
	line-height: 1.2;
	@screen lg {
	  font-size:2.6rem;
	}
	.small {
		@apply text-xl;
	}
}
h3 {

	

	@apply text-2xl;
	@apply font-bold;
	.small{
		@apply text-lg;
	}
}


.element.dynamic__elements__promos__elements__elementpromos {
	h2 {
		@apply mb-6;
		
	}
}

.element.dynamic__elements__promos__elements__elementpromos .element__content {
	
	
	margin: 0 auto;

	@screen lg {
		width: 60%;
	}
	//@apply mt-12;
	@apply mb-12;
	h3 {
	
		text-transform: uppercase;
		letter-spacing: 0.05rem;

	}

	p {
		
		@apply text-xl;
		color: var(--color-petrol);
		color: black;
	}
}



.element.dynamic__elements__promos__elements__elementpromos .container .flex-col p {
	font-size: 1rem;
	color: var(--color-grey-dark);
}
.element.coral.dynamic__elements__promos__elements__elementpromos .container .flex-col p {
	color: #ffffff;
}
.element.dynamic__elements__promos__elements__elementpromos a,
.element.netwerkstatt__block__speakers a {
	text-decoration: underline;
	color: var(--color-petrol);

		&:hover {
			color: var(--main-color);
		}
}
h4 {
	@apply mt-4;
	@apply text-lg;
	line-height: 1.2;
}

p {
	@apply my-4;
	@apply leading-normal;
	.page-content__main > & {
		@apply mt-0;
	}
}

.element.dark.dynamic__elements__promos__elements__elementpromos .container,
.element.dark.dynamic__elements__promos__elements__elementpromos .container .flex-col,
.element.dark.dynamic__elements__promos__elements__elementpromos .element__content, 
.element.dark--image.dynamic__elements__promos__elements__elementpromos .element__content,
.element.darker.dynamic__elements__promos__elements__elementpromos .container .flex-col,
.element.darker.dynamic__elements__promos__elements__elementpromos .element__content, 
.element.darker--image.dynamic__elements__promos__elements__elementpromos .element__content {
	p, h4 {
		//border: 1px solid white;
		@apply text-white;
	}

	a {
		@apply underline;
		@apply text-white;

		&:hover {
			color: var(--main-color);
		}
	}
}

.element.coral {
	h2 {
		color: var(--color-petrol);
	}
	p, h4, a {
		@apply text-white;
	}


}

.dynamic__elements__promos__elements__elementpromos .container div p {
	@apply mb-4;
	@apply mt-2;
}

div.element element-spotlight-list h2.element-spotlight-list__title:first-of-type  {
	//border: 1px solid white;
	@apply mt-0;

	
}
div.element-spotlight-list:first-of-type .element-spotlight-list__intro p {
	@apply text-base;
	@screen lg {
	  @apply text-2xl;
	}

}
li {
	@apply leading-normal;
}

a {
	color: var(--color-link);
	@apply no-underline;
}

main {
	@apply font-sans;
	@apply text-lg;
}

img {
	@apply text-xs;
	@apply leading-none;
}




table {
	margin-bottom: 20px;
	tr {
		border-bottom: 1px solid var(--main-color) ;
		th {
			text-transform: uppercase;
			text-align:left;
			@apply text-sm;
			padding-top:0;
			padding-bottom:0;
			padding-right: 0.6rem;
			padding-top: 0.4rem;
			padding-bottom: 0.4rem;

		}
		td {
			vertical-align: top;
			padding-right: 0.6rem;
			padding-top: 0.6rem;
			padding-bottom: 0.6rem;
		}
	}
}


table.sponsors-table {
	tr {
		td:nth-child(2) {
			white-space: nowrap;
			text-align:right;
		}

		td:nth-child(3) {
			text-align:center;
		}
	}
}

main ul {
	@apply my-4;
	list-style: disc;
	padding-left: 25px;
}


main.single {
	padding-bottom: 100px;
	margin-top: 80px;
	h1 {
		color: var(--main-color);
		@apply text-4xl;
		@apply font-normal;

		@screen lg {
		  font-size:3.5rem;
		}
		@screen xl {
		  font-size:4rem;
		}
	}

	h2 {
		@apply text-3xl;
		//@apply font-normal;
		line-height: 1.2;
		@screen lg {
		  font-size:2.4rem;
		}
	}
}
/* purgecss end ignore */