
.silverstripe__elementalbannerblock__block__bannerblock {
	position: relative;
	width: 100vw;
	@apply flex justify-center items-start content-center;
	margin-left: calc((50vw - 50%) * -1);
	margin-right: calc((50vw - 50%) * -1);

}
.banner-element__image {
	display: flex;
	flex-grow: 1;

}


.banner-element__content {
	position: absolute;
	width: 90%;
	@apply flex flex-col justify-center items-center content-center;
	text-shadow: 0 0 8px #eee;
}

.banner-element__call-to-action {
	text-shadow: none;
	background: var(--main-color);
}
