/* follow box*/
.tippy-backdrop {
	background-color: transparent;
}
.follow-box {

	background-color: var(--main-color);
	color: #ffffff;
	padding: 1rem;
	text-align: left;
	
	a {
		color: #ffffff;
		svg {
			display: inline;
		}


		

	}

	a.follow-box--link {
		padding: 0.4rem 0;
		display: block;
		@screen lg {
		  padding: 0.1rem 0;
		}
	}

	h5 {
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 0;
		color: var(--color-petrol);
	}
	p {
		margin-top: 0.5rem;
	}


	#mc_embed_signup {

	
		form {

			padding: 0;
		}
	}

}