
/* purgecss start ignore */
.footer__copyright {

}


footer.bg-secondary-dark {
	color: var(--color-grey);

	background-image: url(../../../icons/stripecon-wave-footer.png);
	background-position: bottom right;
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom: 15%;


	ul {
		margin-top:1rem;
	}


	a {
		//text-decoration: underline;
		//color: #ffffff;


		&:hover {
			color: #ffffff;
		}
	}


	nav {
		a {
			color: #ffffff;
		}
	}
}

.conference-archive {
	//border: 1px solid white;
	//text-align: center;
	ul li {
		//display: inline;
	}
}

/* purgecss end ignore */