/* purgecss start ignore */

form {
	@apply p-4;
}

.field {
	@apply my-4;
	label {
		@apply inline-block;
		@apply mb-2;
	}
	input.text {
		@apply p-2;
		@apply bg-gray-200;
		@apply shadow-inner;
		@apply border-solid border-gray-400 border-b-2;
	}
}

.btn-toolbar {
	input.action {
		@apply btn btn--primary;

		&:hover {
			background-color: var(--main-color--dark);
		}
	}
}

/* purgecss end ignore */
