.navigation {
	&--main {
		//@apply bg-white;
		//@apply border-gray-600 border-solid border-b-2;
		//padding-bottom: -2px;
	}

	&--secondary {
		@apply bg-gray-200;
		//@apply border-gray-600 border-solid border-b-2;
		//padding-bottom: -2px;
	}

	&__list {
		@apply flex-wrap;

		@screen md {
	  		@apply flex
		}
		@apply max-w-2xl mx-auto;
	}

	&__list-item {
		@apply inline-block py-1;

		@screen md {
	  		@apply inline-block py-4;
		}

		margin-bottom: -1px;
		@apply text-center;
		@apply relative inline-block;
		@apply text-white;

		&:hover {
			@apply text-gray-300;
		}
		a {
			@apply px-2 py-2;
			@apply text-sm;


			@screen md {
		  		@apply px-4 py-4;
		  		@apply text-base;
			}
			color: inherit;
		}
		//&:after {
		//	position: absolute;
		//	left: 0;
		//	top: 0;
		//	content: '';
		//	height: 100%;
		//	transition: all 0.5s linear;
		//	width: 100%;
		//	@apply border-solid border-b-4;
		//	@apply border-white;
		//	transform: scaleX(0);
		//	pointer-events: none;
		//}
		//&:hover:after {
		//	transform: scale(1);
		//}
		&--secondary {
			&:after {
				@apply border-b-2;
			}
		}

		&--current,
		&--section {
			//&:hover:after {
			//	border-color: var(--main-color--dark);
			//}
			//
			//&:after {
			//	border-color: var(--main-color);
			//	transform: scale(1);
			//}
			a {
				color: #ffffff;
				&:hover {
					color: var(--main-color--dark);
				}
			}
		}
	}
}


header.page-header {
	position: absolute;
	top:0;


	.logo {
		border: 0px solid white;
		width: 46px;
		overflow: hidden;


		svg {
			width: 120px;
		}
		@screen lg {
	  		width: auto;


			svg {
				width: auto;
			}
		}
	}

	nav.navigation{
		
		width: 84%;
		margin-top: -0.2rem;
		@screen lg {
	  		width: auto;
	  		margin-top: 0;
		}
	}
}
span#contact {
	@apply px-2 py-2;
	@apply text-sm;
	@screen lg {
  		@apply px-4 py-4;
  		@apply text-base;
	}
	cursor: pointer;


	&:focus,
	&:hover {
		color: var(--main-color--dark);
	}

	

}
header.ex-js-fixed {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  

	border: 1px solid block;
	position: fixed;
	z-index: 1002;

	    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}